{% extends 'base.html' %}
{% load about_me_tags %}
{% load core_tags %}

{% block content %}
    <!--About Section Start-->
    <section id="about" class="about-section pt-page">
        <div class="section-container">
            <!--Page Heading-->
            <div class="page-heading">
                <span class="icon"><i class="lnr lnr-user"></i></span>
                <h2>About Me.</h2>
            </div>

            {% show_personal_details %}
            

            <!--Services Row Start-->
            <div class="row services mb-30">
                <div class="col-md-12">
                    <div class="subheading">
                        <h3>Services</h3>
                    </div>
                </div>

                <!--Service Item-->
                <div class="col-lg-3 col-sm-6">
                    <div class="service-item">
                        <div class="icon"><i class="lnr lnr-laptop"></i></div>
                        <h4>Web Development</h4>
                        <p>Amet aspernatur delectus maxime ducimus similique Ratione asperiores corporis provident aut libero.</p>
                    </div>
                </div>

                <!--Service Item-->
                <div class="col-lg-3 col-sm-6">
                    <div class="service-item">
                        <div class="icon"><i class="lnr lnr-eye"></i></div>
                        <h4>Web Design</h4>
                        <p>Amet aspernatur delectus maxime ducimus similique Ratione asperiores corporis provident aut libero.</p>
                    </div>
                </div>

                <!--Service Item-->
                <div class="col-lg-3 col-sm-6">
                    <div class="service-item">
                        <div class="icon"><i class="lnr lnr-laptop-phone"></i></div>
                        <h4>Responsive Design</h4>
                        <p>Amet aspernatur delectus maxime ducimus similique Ratione asperiores corporis provident aut libero.</p>
                    </div>
                </div>

                <!--Service Item-->
                <div class="col-lg-3 col-sm-6">
                    <div class="service-item">
                        <div class="icon"><i class="lnr lnr-camera"></i></div>
                        <h4>Photography</h4>
                        <p>Amet aspernatur delectus maxime ducimus similique Ratione asperiores corporis provident aut libero.</p>
                    </div>
                </div>
            </div>
            <!--Services Row End-->
        </div>
    </section>
    <!--About Section Start-->

    <!--Resume Section Start-->
    <section id="resume" class="resume-section pt-page">
        <div class="section-container">
            <div class="page-heading">
                <span class="icon"><i class="lnr lnr-license"></i></span>
                <h2>My Resume.</h2>
            </div>

            <!--Education & Experience Row Start-->
            <div class="row mb-20">

                <!--Experience Column Start-->
                <div class="col-lg-6">
                    <div class="subheading">
                        <h3>Experience</h3>
                    </div>
                    {% list_work_experiences %}
                </div>
                <!--Experience Column End-->

                <!--Education Column Start-->
                <div class="col-lg-6">
                    <div class="subheading">
                        <h3>Skills</h3>
                    </div>

                    {% list_skills %}
                </div>
                <!--Education Column End-->
            </div>
            <!--Education & Experience Row End-->


            <!--Skills Row Start-->
            <div class="row">

                <!--Design Skills Column Start-->
                <div class="col-lg-6 skills">
                    <div class="subheading">
                        <h3>Design Skills</h3>
                    </div>

                    <!--Design Skill Item-->
                    <div class="skill-item">
                        <h4 class="progress-title">Coral Draw</h4>
                        <div class="progress">
                            <div class="progress-bar" data-progress-value="91">
                                <div class="progress-value">91%</div>
                            </div>
                        </div>
                    </div>

                    <!--Design Skill Item-->
                    <div class="skill-item">
                        <h4 class="progress-title">Photoshop</h4>
                        <div class="progress">
                            <div class="progress-bar" data-progress-value="82">
                                <div class="progress-value">82%</div>
                            </div>
                        </div>
                    </div>

                    <!--Design Skill Item-->
                    <div class="skill-item">
                        <h4 class="progress-title">Illustrator</h4>
                        <div class="progress">
                            <div class="progress-bar" data-progress-value="94">
                                <div class="progress-value">94%</div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Design Skills Column End-->

                <!--Coding Skills Column Start-->
                <div class="col-lg-6 skills">
                    <div class="subheading">
                        <h3>Coding Skills</h3>
                    </div>

                    <!--Coding Skill Item-->
                    <div class="skill-item">
                        <h4 class="progress-title">HTML5</h4>
                        <div class="progress">
                            <div class="progress-bar" data-progress-value="83">
                                <div class="progress-value">83%</div>
                            </div>
                        </div>
                    </div>

                    <!--Coding Skill Item-->
                    <div class="skill-item">
                        <h4 class="progress-title">CSS3</h4>
                        <div class="progress">
                            <div class="progress-bar" data-progress-value="75">
                                <div class="progress-value">75%</div>
                            </div>
                        </div>
                    </div>

                    <!--Coding Skill Item-->
                    <div class="skill-item">
                        <h4 class="progress-title">Javascript</h4>
                        <div class="progress">
                            <div class="progress-bar" data-progress-value="92">
                                <div class="progress-value">92%</div>
                            </div>
                        </div>
                    </div>

                </div>
                <!--Coding Skills Column End-->

            </div>
            <!--Skills Row End-->
        </div>
    </section>
    <!--Resume Section End-->
{% endblock content %}
    