{% load widget_tweaks %}
<div class="row">


    <!--Name Field-->
    <div class="col-md-6 mb-50">
        <span class="input">
            {% render_field contact_form.fullname|add_class:"input__field cf-validate"|add_label_class:"input__label" id="cf-name" %}
            <!-- <label class="input__label" for="cf-name">Name</label> -->
        </span>
    </div>

    <!--Email Field-->
    <div class="col-md-6 mb-50">
        <span class="input">
            {% render_field contact_form.email|add_class:"input__field cf-validate"|add_label_class:"input__label" id="cf-email" %}
            <!-- <label class="input__label" for="cf-email">Email</label> -->
        </span>
    </div>

    <!--Message Box-->
    <div class="col-md-12 mb-30">
        <span class="input">
            {% render_field contact_form.message|add_class:"input__field cf-validate"|add_label_class:"input__label" id="cf-message" rows="5" %}
            <!-- <label class="input__label" for="cf-message">How can we help you?</label> -->
        </span>
    </div>

    <div class="alert-container col-md-12"></div>

    <!--Submit Button-->
    <div class="col-md-12 text-center">
        <button id="cf-submit" class="btn-main">Send Message</button>
    </div>


</div>