{% load widget_tweaks %}

    
    
<div class="row">   
     
    {% for field in contact_form %}
        <div class="{% if field.name == 'message' %}col-md-12 mb-30{% else %}col-md-6 mb-50{% endif %}">
            <span class="input">
                {% render_field field|add_class:"input__field cf-validate" %}
                <label class="input__label" for="cf-{{ field.name }}">
                    {% if field.name == 'message' %}
                        How can we help you?
                    {% else %}
                        {{ field.label }}
                    {% endif %}
                </label>
            </span>
        </div>            
    {% endfor %}
        
    
    <!--Submit Button-->
    <div class="col-md-12 text-center">
        <button id="cf-submit" class="btn-main">Send Message</button>
    </div>


</div>